.card-loading {
  width: 20%;
  padding: 0rem .8rem 3rem .8rem;
  margin-bottom: 2rem;
  height: 300px;
  animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
  to{
    opacity: 0.5;
  }
}

.img-loading {
  width: 100%;
  height: 100%;
  padding: 0rem .8rem 3rem .8rem;
  background-color: #093D4E;
}

.name-loading {
  margin-top: 1rem;
  background-color: #093D4E;
  width: 6rem;
  height: 1rem;
} 

@media(max-width: 1200px){
  .card-loading{
    width: 25%;
  }
}

@media(max-width: 900px){
  .card-loading{
    width: 33%;
  }
}


@media(max-width: 700px){
  .card-loading{
    width: 50%;
  }
}

@media(max-width: 500px){
  .card-loading{
    width: 100%;
  }
}