.card {
  width: 20%;
  padding: 0rem .8rem 3rem .8rem;
}

.card img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.card h2{
  font-size: 1.2rem;
  cursor: pointer;
}

.card-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-status span {
  padding: .2rem .8rem;
  margin-top: .8rem;
  margin-right: .5rem;
  border-radius: 5px;
}

.genre{
  background:#E75738;
}

.date {
  background-color: #428A29;
}

.status {
  background-color: #957191;
}

@media(max-width: 1200px){
  .card{
    width: 25%;
  }
}

@media(max-width: 900px){
  .card{
    width: 33%;
  }
}


@media(max-width: 700px){
  .card{
    width: 50%;
  }
}


@media(max-width: 500px){
  .card{
    width: 100%;
  }
}