@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  background-color: #004E66;
}

.news-content {
  display: flex;
  justify-content: center;
}

.news {
  width: 100%;
  max-width: 1200px;
}

.news section {
  padding: 1rem;
}

.navBarProvissoria {
  margin-top: 2rem;
  top: auto;
  max-width: 100%;
}

.news h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.news span {
  color: #ffffff;
  font-size: 16px;
}

.news img {
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.news img:hover {
  opacity: 0.8;
}

.news a {
  text-decoration: none;
}

#mainArticleTitle:hover {
  color: 	#C0C0C0;
}

.subArticleTitle:hover {
  color: 	#C0C0C0;
}

#pageTitle {
  padding: 15px;
  font-family: 'Acme', sans-serif;
  font-size: 42px;
}

.mainImage {
  max-width: 38rem;
  max-height: 25rem;
  margin-bottom: 2rem;
}

.subImage {
  max-width: 30em;
  max-height: 10rem;
}

.mainArticle {
  margin: 0.8rem;
  width: 36rem;
  height: 34rem;
  display: flex;
  object-fit: contain;
  flex: flex-wrap;
  float: left;
  position: static;
}

.subArticles {
  display: grid;
  margin-top: 0.8rem;
  width: 48rem;
  height: max-content;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  float: right;
  object-fit: fill;
  flex: flex-wrap;
  margin-bottom: 2rem;
}

.hiddenArticlesLeft, .hiddenArticlesRight {
  display: none;
}

.topLeftArticle {
  align-content: stretch;
  object-fit: contain;
  height: 100%;
  width: 95%;
}

.topRightArticle {
  align-content: stretch;
  object-fit: contain;
  height: 100%;
  width: 95%;
}

.bottomLeftArticle {
  display: flex;
  align-content: stretch;
  object-fit: contain;
  height: 100%;
  width: 95%;
  justify-content: center;
}

.bottomRightArticle {
  align-content: stretch;
  object-fit: contain;
  height: 100%;
  width: 95%;
}

#mainArticleTitle {
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 0.5rem;
}

.articleDescription {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.subArticleTitle {
  font-size: 24px;
  line-height: 110%;
  margin-bottom: 0.5rem;
}

.articleDescription {
  color: #ffffff;
  font-family: 'Calibri';
}

.articleAuthor {
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
}

.articleComments {
  color: #D3D3D3;
}

.subDivisionLine {
  width: 0.05rem;
  height: 78%;
  position: absolute;
  align-self: center;
  margin-right: 5.5rem;
}

.mainDivisionLine {
  width: 0.05rem;
  height: 78%;
  position: absolute;
  margin-left: 40.75rem;
  margin-top: 0.8rem;
}

@media(min-width: 1200px) {

.mainImage {
    max-width: 36rem;
    max-height: 22rem;
    margin-bottom: 2rem;
  }

.subImage {
    max-width: 16rem;
    max-height: 8rem;
  }

.subArticles {
    margin-top: 0.4rem;
    width: 34rem;
    height: max-content;
  }

.news h1 {
    font-size: 24px;
  }

.bottomRightArticle {
    width: 15rem;
    height: 85%;
  }

.bottomLeftArticle {
    width: 15rem;
    height: 20rem;
  }

.topRightArticle {
    width: 15rem;
    height: 20rem;
  }

.topLeftArticle {
    width: 15rem;
    height: 20rem;
  }

  
#mainArticleTitle {
  font-size: 52px;
  margin-bottom: 1.5rem;
}

.articleDescription {
  font-size: 28px;
  margin-bottom: 1.3rem;
}
}

@media(min-width: 992px) and (max-width: 1199px) {

.mainArticle {
    width: 28rem;
    height: 34rem;
  }

.mainImage {
    max-width: 29rem;
    max-height: 18rem;
    margin-bottom: 2rem;
  }

.subArticles {
    margin-top: 0.6rem;
    width: 50%;
    height: max-content;
  }

.subImage {
    max-width: 12rem;
    max-height: 8rem;
  }

.news h1 {
    font-size: 22px;
  }

.bottomRightArticle {
   width: 12rem;
   height: 19rem;
  }

.bottomLeftArticle {
    width: 12rem;
    height: 19rem;
  }

.topRightArticle {
   width: 12rem;
   height: 19rem;
  }

.topLeftArticle {
    width: 12rem;
    height: 19rem;
  }
  
#mainArticleTitle {
  font-size: 44px;
  margin-bottom: 1.5rem;
}

.articleDescription {
  font-size: 28px;
  margin-bottom: 1.5rem;
}
}

@media(min-width: 768px) and (max-width: 991px) {


.hiddenArticlesLeft, .hiddenArticlesRight {
    display: unset;
  }

.mainArticle {
    width: 23rem;
    height: 68rem;
    left: auto;
    display: flex;
    flex-direction: column;
  }

.mainImage {
    max-width: 23rem;
    max-height: 22rem;
    margin-bottom: 2rem;
  }

.subArticles {
    display: none;
  }

.subImage {
    max-width: 16rem;
    max-height: 14rem;
  }

.hiddenArticlesLeft {
    float: left;
    width: 45rem;
    height: 26rem;
    margin-top: 1.8rem;
  }

.hiddenArticlesRight {
    float: right;
    width: 21rem;
    height: 40rem;
    margin-top: 1.8rem;
  }

.bottomRightArticle {
    width: 17rem;
    height: 25rem;
  }

.bottomLeftArticle {
    width: 17rem;
   height: 25rem;
  }

.topRightArticle {
    width: 17rem;
    height: 25rem;
  }

.topLeftArticle {
    width: 17rem;
    height: 25rem;
  }

#mainArticleTitle {
  font-size: 36px;
  margin-bottom: 1.5rem;
}

.articleDescription {
  font-size: 28px;
  margin-bottom: 1.4rem;
}

.subArticleTitle {
  font-size: 36px;
}
}

@media(max-width: 767px) {
  body {
    
    overflow-x: hidden;
  }

.mainArticle, .subArticles {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

.mainImage, .subImage {
    max-width: 30rem;
    max-height: 30rem;
    margin-bottom: 2rem;
  }

#mainArticleTitle {
  font-size: 24px;
}

.articleDescription {
  display: none;
}

.subArticleTitle {
  font-size: 24px;
}
.news-content article {
  text-align: center;
}
}