nav {
  width: 100%;
  font-size: 1.3rem;
  background: #093D4E;
  box-shadow: 2px 2px 2px #00000020;
  font-family: 'Acme';
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

nav a{
  color: #fff;
  text-decoration: none;
}

.navbar-title {
  font-size: 2rem;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-list li {
  padding: 0 2rem;
}

.logout,
.navbar-list + span a{
  cursor: pointer;
  transition: .2s ease-out;
}

.logout:hover,
.navbar-list + span a:hover,
.navbar-list li:hover {
  border-radius: 4px;
  color: wheat;
}

nav button {
  display: none;
}

.hidden {
  display: none;
}

@media(max-width: 880px){
  
  .hidden {
    display: block;
  }

  .navbar-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70px;
    right: 0;
    height: 0;
    transition: .6s;
    z-index: 1000;
    background-color: #093D4E;
    visibility: hidden;
    overflow-y: hidden;
  }

  .navbar-list + span {
    display: none;
  }

  .navbar-list.active {

    visibility: visible;
    height: 15rem;
  }

  .navbar-list li {
    padding: 1rem;
    cursor: pointer;
  }
  
  .navbar-list li:hover {
    border-radius: 4px;
    background-color: #07313f;
  }

  nav button {
    display: flex;
    padding: .5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer{
    border-top: 3px solid #c1c1c1;
    width: 30px;
  }

  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #c1c1c1;
    margin-top: 7px;
    transition: .3s;
    position: relative;
  }

  #hamburguer.active{
    border-top: #000;
  }

  #hamburguer.active::before {
    transform: rotate(135deg);
  }

  #hamburguer.active::after {
    transform: rotate(-135deg);
    top: -9px;
  }

}